<div class="row">

  <div class="col-md-3">
    <h2 align="center">Departments</h2>
    <hr>
    <ul class='cat-list'>
      <% @categories.each do |category| %>
        <li class='link-category-list-item'><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h2 align="center">Popular Items</h2>
    <hr>
    <ul class='item-list'>
      <% Item.spotlight.each do |item| %>
        <li><%= link_to item.name, item_path(item)%></li>
        <li><%= item.description %></li>
        <li>$<%= item.price %>.00</li>
        <br>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
      <h2 align="center">What Your Friends Are Buying</h2>
      <hr>

      <%= render 'friends_activity'%>
  </div>

</div>

<div class="row">
  <table class="navFooterVerticalColumn" cellspacing="0" align="center" role="presentation">
    <tr>
      <td class="navFooterLinkCol">
        <div class="navFooterColHead" align='center'><u>Get to Know Us</u></div>
        <ul>
          <li class='nav_first'>
            <a href='#' class='nav_a'>Careers</a>
          </li>
          <li>
            <a href='#' class='nav_a'>About Panazon</a>
          </li>
          <li>
            <a href='#' class='nav_a'>Investor Relations</a>
          </li>
          <li class='nav_last'>
            <a href='/panazon-devices/b/ref=footer_devices?ie=UTF8&amp;node=2102313011' class='nav_a'>Panazon Devices</a>
          </li>
        </ul>
      </td>
      <td class="navFooterColSpacerInner"></td>
      <td class="navFooterLinkCol">
        <div class="navFooterColHead" align='center'><u>Make Money with Us</u></div>
        <ul>
          <li>
            <a href='#' class='nav_a'>Sell on Panazon Business</a>
          </li>
          <li>
            <a href='#' class='nav_a'>Sell Your Apps on Panazon</a>
          </li>
          <li>
            <a href='#' class='nav_a'>Become an Affiliate</a>
          </li>
          <li>
            <a href='/b/ref=footer_vend?ie=UTF8&amp;node=10659983011' class='nav_a'>Become an Panazon Vendor</a>
          </li>
        </ul>
      </td>
      <td class="navFooterColSpacerInner"></td>
      <td class="navFooterLinkCol">
        <div class="navFooterColHead" align='center'><u>Panazon Payment Products</u></div>
        <ul>
          <li class='nav_first' >
            <a href='/iss/credit/rewardscardmember/ref=footer_cbcc?_encoding=UTF8&amp;plattr=CBFOOT' class='nav_a'>Panazon Rewards Visa Signature Cards</a>
          </li>
          <li>
            <a href='/iss/credit/storecardmember/ref=footer_plcc?_encoding=UTF8&amp;plattr=PLCCFOOT' class='nav_a'>Panazon.com Store Card</a>
          </li>
          <li>
            <a href='/compare-credit-card-offers/b/ref=footer_ccmp?ie=UTF8&amp;node=3561432011' class='nav_a'>Credit Card Marketplace</a>
          </li>
          <li class='nav_last'>
            <a href='/Currency-Converter/b/ref=footer_tfx?ie=UTF8&amp;node=388305011' class='nav_a'>Panazon Currency Converter</a>
          </li>
        </ul>
      </td>
      <td class="navFooterColSpacerInner"></td>
      <td class="navFooterLinkCol">
        <div class="navFooterColHead" align='center'><u>Let Us Help You</u></div>
        <ul >
          <li>
            <a href='/gp/css/order-history/ref=footer_yo' class='nav_a'>Your Orders</a>
          </li>
          <li>
            <a href='/gp/prime/ref=footer_prime' class='nav_a'>Panazon Prime</a>
          </li>
          <li>
            <a href='/gp/css/returns/homepage.html/ref=footer_hy_f_4' class='nav_a'>Returns & Replacements</a>
          </li>
          <li class='nav_last'>
            <a href='/gp/help/customer/display.html/ref=footer_gw_m_b_he?ie=UTF8&amp;nodeId=508510' class='nav_a'>Help</a>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
