<% if @user.id == current_user.id %>
  <div class="owner-user-page">
    <h1>Welcome back, <%= @user.username %></h1>

    <div id="past-orders-section">
      <h3 id="past-orders-header">Past Orders</h3>

      <ul id="past-orders-list">
        <% @user.purchases.each do |purchase| %>
          <li>
            Items Purchased: <%= purchase.item.name %>
            <br>
            Order made on <%= purchase.created_at.to_date %>
            <br>
            Quantity: <%= purchase.item.count %>
            <br>
            Price: $<%= number_with_precision(purchase.item.price, precision: 2) %>
          </li>
          <br>
        <% end %>
      </ul>
    </div>

    <div id="sold-items-section">
      <h3>Sold Items</h3>
      <ul id="sold-items-list">
        <% @user.sales.each do |sale| %>
          <li>
            Items Sold: <%= sale.item.name %>
            <br>
            Order made on <%= sale.created_at.to_date %>
            <br>
            Quantity: <%= sale.item.count %>
            <br>
            Price: $<%= number_with_precision(sale.item.price, precision: 2) %>
          </li>
          <br>
        <% end %>
      </ul>
    </div>

    <div id="unsold-items-section">
      <h3>Unsold Items</h3>
      <ul id="unsold-items-list">
        <% @user.items_for_sale.where("count>'0'").each do |item| %>
          <li>
            Unsold Item: <%= item.name %>
            <br>
            Order made on <%= item.created_at.to_date %>
            <br>
            Quantity: <%= item.count %>
            <br>
            Price: $<%= number_with_precision(item.price, precision: 2) %>
          </li>
          <br>
        <% end %>
      </ul>
    </div>

  </div>
<% elsif logged_in? && current_user != @user %>
  <div class="current-user-page">
    <h1>This is the profile page of <%= @user.username %></h1>

    <div id="past-orders-section">
      <h3 id="past-orders-header">Past Orders</h3>

      <ul id="past-orders-list">
        <% @user.purchases.each do |purchase| %>
          <li>
            Items Purchased: <%= purchase.item.name %>
            <br>
            Order made on <%= purchase.created_at.to_date %>
            <br>
            Quantity: <%= purchase.item.count %>
            <br>
            Price: $<%= purchase.item.price %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
<% end %>

