<h1><%= @item.name %></h1>

<div class="item-description">
  <h3>Description</h3>
  <p><%= @item.description %></p>
</div>

<div class="item-price">
  <h4>Price:</h4><span>$<%= number_with_precision(@item.price_in_dollars, precision: 2) %></span>
</div>

<% if @item.count <= 10 %>
  <div class="item-count">
    <% if @item.count > 0 %>
      <h4><%= pluralize(@item.count, 'item') %> left</h4>
    <% else %>
      <h4>SOLD OUT</h4>
    <% end %>
  </div>
<% end %>
<div id="seller">
  <span>sold by <%= link_to @item.seller.username, user_path(@item.seller) %></span>
</div>

<% if current_user && @item.count > 0 %>
  <div id="item-checkout">
    <%= form_for :transaction, url: "/users/#{current_user.id}/transactions" do |f| %>
      <%= f.hidden_field :buyer_id, value: current_user.id %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.label :quantity %>
      <%= f.select :quantity, (1..@item.count) %><br><br>
      <%= f.submit "Add to Cart" %>
    <% end %>
  </div>
<% end %>
