<!DOCTYPE html>
<html>
  <head>
    <title>Panazon</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">

          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          <ul class="nav navbar-nav navbar-right">
            
            <li class="nav-li-link"><a href="/">Home</a></li>
            <% if logged_in? %>
              <li class="nav-li-link"><%= link_to "Log out", session_path(current_user), method: :delete %></li>
              <li class="nav-li-link"><%= link_to "Profile", user_path(current_user) %></li>
            <% else %>
              <li class="nav-li-link"><%= link_to "Log In", new_session_path %></li>
              <li class="nav-li-link"><%= link_to "Register", new_user_path %></li>
            <% end %>

            <%= form_tag("/search", method: "get") do %>
              <%= text_field_tag(:name) %>
              <%= submit_tag("Search") %>
            <% end %>

          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
    </div>
  </body>
</html>
