<!DOCTYPE html>
<html>
  <head>
    <title>Panazon</title>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="nav-container">
      <nav>
        <ul class="nav">

      <li class="nav-li-link"><a href="/">Home</a></li>
      <% if logged_in? %>
        <li class="nav-li-link"><%= link_to "Log out", session_path(current_user), method: :delete %></li>
        <li class="nav-li-link"><%= link_to "Profile", user_path(current_user) %></li>
      <% else %>
        <li class="nav-li-link"><%= link_to "Log In", new_session_path %></li>
        <li class="nav-li-link"><%= link_to "Register", new_user_path %></li>
      <% end %>

      <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("Search") %>
      <% end %>
      </ul>

        <div class="container">
          <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>

      </nav>
    </div>
    <%= yield %>
  </body>
</html>
